@import "tailwindcss";

::-webkit-scrollbar {
    width: 3px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: #9BA1AD;
    border-radius: 100px;
    
    /* Tells the browser to clip the background to the content box */
    background-clip: content-box;

    /* Adds a transparent border to act as "padding" at top and bottom of scrollbar thumb*/
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}